
.mainLogo {
    max-height: 5rem;
    position: relative;
    margin-right: 1em;
}

#Navbar {
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    z-index: 5;
}

Nav.Link {
    color: rgb(0, 0, 0);
}

.Favoritos {
    color: black;
    text-decoration: none;
}

.brandLink {
    text-decoration: none;
    color: black;
}

